.footer_container {
  background-color: #1b0000;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .footer_link_box {
    max-width: 140rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #c80200;
  }

  .footer_link {
    flex-direction: column;
    margin: 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem; /* Adicionado espaçamento interno */

    h2 {
      color: #edf2f4;
      font-size: 2rem;
    }

    a {
      text-decoration: none;
      color: #edf2f4;
      font-size: 1.6rem;
      transition: all 0.3s;
      display: inline-block;

      img {
        width: 200px;
      }

      &:hover,
      &:active {
        color: #8d99ae;
      }
    }

    .footer_instagram {
      display: flex;
      align-items: center;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      font-size: 1.6rem;
    }
    .footer_linkLogo {
      display: flex;
      align-items: center;
      flex-direction: column;
    }


  }
    .footer_copyright {
      display: flex;
      align-items: center;
      color: #8d99ae;
      margin: 1.5rem;
      font-size: 1.2rem;
    }
  
}
