.grammarPage_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 120rem;
  margin: 3rem auto;
  text-decoration: none;

  h1 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2.4rem;
    margin: 0;
  }

  .grammarPage_line {
    width: 120rem;
    height: 1px;
    background-color: #c80200;
  }

  .grammarPage_box_kanji {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    align-self: flex-start;
  }

  .grammarPage_top_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5rem;
    margin-top: 2rem;
  }

  .grammarPage_box {
    border: 1px solid #ced4da;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    min-width: 20rem;
    overflow: hidden;
    padding: 0 2rem;
    text-decoration: none;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;

    h2 {
      font-size: 3rem;
      margin: 0;
      color: #c80200;
    }

    h3 {
      font-size: 2.4rem;
      color: #1b0000;
    }
  }

  .grammarPage_box_informations {
    border: 1px solid #c7c8c9;

    background-color: #dae0e5;
    color: #1b0000;
    border-radius: 8px;
    height: 16rem;
    padding: 2rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;

    h3 {
      margin-bottom: 1rem;
    }
  }

  .grammarPage_informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    align-self: flex-start;
    border-top: 1px solid #1b0000;

    h4 {
      font-size: 1.8rem;
      margin: 2rem 0 0 0;
    }

    p {
      font-size: 2rem;
      margin: 0.5rem;
    }
  }

  .grammarPage_informations_horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .grammarPage_informations_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
  }

  .grammarPage_exemplos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    align-self: flex-start;
    margin: 3rem;

    h3 {
      margin-bottom: 2rem;
    }

    .grammarPage_exemplos_block {
      width: 60rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      align-self: flex-start;
      border: 1px solid #bdbebf;
      padding: 2rem;
      margin: 1rem;
      border-radius: 8px;

      h4 {
        font-size: 1.8rem;
        margin: 0 0 0.5rem 0;
      }
      p {
        font-size: 1.8rem;
        margin: 0 0 1rem 0;
      }

      h3 {
        font-size: 2.4rem;
        margin: 0 0 1rem 0;
      }

      .grammarPage_exemplos_item {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
      }
    }
  }

  .grammarPage_next {
    font-size: 2.4rem;
    color: #c80200;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;

    &:hover,
    &:active {
      color: #ef233c;
    }
  }

  @media (max-width: 768px) {
    .grammarPage_container {
      width: 90%;
    }

    .grammarPage_line {
      width: 85%;
    }

    .grammarPage_top_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      gap: 2rem;
      margin: 2rem auto;
    }

    .grammarPage_box_informations {
      height: 32rem;
      width: 30rem;
    }

    .grammarPage_informations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
      }
    }

    .grammarPage_exemplos {
      width: 90%;
      align-items: center;
    }

    .grammarPage_exemplos_block {
      max-width: 85%;
      padding: 1rem;
      margin: 0;
      align-items: center;
      align-self: center;
    }
  }
}
