.header_container {
  background-color: #1b0000;

  .header_link_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 130rem;
    margin: 0 auto;
    padding: 10px;

    a {
      text-decoration: none;
      color: #edf2f4;
      font-size: 1.6rem;
      transition: all 0.3s;
      display: inline-block;
      margin-left: 2.6rem;
    }

    img {
      width: 200px;
      margin: 5px 0;
    }

    .header_links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 80rem;

      a {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      .header_links {
        width: 100%;

        a {
          width: calc(50% - 5px);
          margin-bottom: 5px;

          &:nth-child(2n) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
