.vocabularyList_container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 5rem auto;

  .vocabularyList_thead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #c80200;
      border-radius: 6px;
      width: 25rem;
      height: 8rem;
      margin: 0rem 2rem;
      background-color: #c80200;

      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
      font-size: 2.4rem;
      color: #fff;
    }
  }

  .vocabularyList_tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #ced4da;
      border-radius: 8px;
      width: 25rem;
      height: 10rem;
      text-align: center;
      margin: 2rem;

      box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
      font-size: 2.4rem;
      color: #2b2d42;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      h5 {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ced4da;
        border-radius: 8px;
        width: 25rem;
        height: 10rem;
        text-align: center;
        margin: 2rem;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
        font-size: 2.4rem;
        color: #c80200;

        &:hover,
        &:active {
          color: #ef233c;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
        }
      }
    }
  }

  .vocabularyList_memo {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.6rem;
      color: #2b2d42;
      width: 100rem;
    }
  }

  @media (max-width: 768px) {
    .vocabularyList_container {
      width: 90%;
    }
    .vocabularyList_thead {
      p {
        width: 14rem;
        font-size: 1.8rem;
        margin: 0 0.2rem;
      }
    }
    .vocabularyList_tbody {
      p {
        width: 14rem;
        font-size: 1.8rem;
        margin: 0 0.2rem;
        height: 8rem;
        margin: 0 0.2rem;
      }
      a {
        h5 {
          width: 14rem;
          font-size: 1.8rem;
          margin: 0 0.2rem;
          height: 8rem;
          margin: 0 0.2rem;
        }
      }
    }
    .vocabularyList_mobileOff {
      display: none;
    }
    .vocabularyList_memo {
      width: 85%;
      text-align: center;
      margin: 0 auto;
    }
  }
}
